<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>quote</title>
  </head>
  <body>
    <div
      class="w-[200px] border-2 border-white rounded px-2 py-4 relative scale-100 hover:scale-105 flex flex-col space-y-2"
    >
      <p class="text-sm font-medium break-words"><%- quote.quote %></p>
      <div class="text-sm w-full flex items-center justify-between">
        <p><%- quote.firstName %></p>
        <p><%- quote.time %> ago</p>
      </div>
      <% if(quote.user.equals(_id) ){ %>
      <a
        href="/edit-quote?id=<%- quote._id  %>"
        class="flex items-center justify-center absolute w-[36px] h-[36px] -top-[26px] transform left-4 rounded-full bg-indigo-600 cursor-pointer scale-100 hover:scale-105"
      >
        <i class="fas fa-edit text-sm text-white"></i>
      </a>
      <% } %>
    </div>
  </body>
</html>
