<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <main class="w-full h-screen bg-[#111827] flex justify-center">
      <div
        class="mt-5 p-4 shadow-2xl w-[400px] h-[200px] rounded bg-slate-50 flex flex-col space-y-7 items-center justify-center"
      >
        <p class="text-sm text-slate-800 font-medium">
          Quotes are sometimes used to describe things that is real, so be
          honest
        </p>
        <a
          href="api/auth/google"
          class="flex justify-center items-center space-x-3 bg-black text-white w-[200px] p-2 rounded scale-95 hover:scale-100 cursor-pointer"
        >
          <h1 class="text-md text-center">Login with google</h1>
          <i class="fa-brands fa-google text-blue-800"></i>
        </a>
      </div>
    </main>
  </body>
</html>
